{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "navbar.html" %}
<div class="container-fluid header">
    <div class="row">
        <div class="col-4 product-sizes">
            <div>
                <img src="{% static 'assests/onion.png' %}">
                <img src="{% static 'assests/onion.png' %}">
                <img src="{% static 'assests/onion.png' %}">
            </div>
            <div>
                <img src="{% static 'assests/onion.png' %}">
                <img src="{% static 'assests/onion.png' %}">
                <img src="{% static 'assests/onion.png' %}">
            </div>
        </div>
        <div class="col-8 header-carousel">
            <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleAutoplaying">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img alt="..." class="d-block w-100" src="...">
                    </div>
                    <div class="carousel-item">
                        <img alt="..." class="d-block w-100" src="...">
                    </div>
                    <div class="carousel-item">
                        <img alt="..." class="d-block w-100" src="...">
                    </div>
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleAutoplaying"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleAutoplaying"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'product' product.id %}">
                    <img alt="..." class="card-img-top" src="{{ product.image.url }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6>GHC{{ product.price }}</h6>
                    <p class="card-text">{{ product.description }}</p>
                    <a class="btn btn-primary" href="#">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}