{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">kkkkkkkk</div>
        <div class="col">
            <h6>price</h6>
            <button class="btn">Add to cart</button><span>price</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="">
        </div>
        <div class="col">
            <p>description</p>
        </div>
    </div>
</div>

{% endblock %}