{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid signin-page">
    <div class="row signin-row">
        <div class="col">
            <img class="img-fluid mx-auto d-block signin-img" src="{% static 'assests/signinPic.jpg' %}" width="400">
        </div>
        <div class="col">
            <form class="form-column" method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                <div>
                    <h2>MLS's</h2>
                </div>
                <div><input type="text" name="username" placeholder="Username"></div>
                <div><input type="password" name="password" placeholder="Password"></div>
                <div class="d-md-flex justify-content-md-end">
                    <button type="submit" class="btn">Log in</button>
                </div>
                <div class="register">
                    <p>Don't have an account?
                        <a class="registration-link" href="{% url 'signup' %}">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}